# temporal files when the file (Microsoft office 365 file) is open
**/~$*.*
# Project folders
conda/
.databricks/
build/
# dist/
__pycache__/
*.egg-info
.venv/
.bundle/
# IDE folders
.vscode/*
.cursor/*
.windsurf/*
.github/*